<p id="notice"><%= notice %></p>
<tbody>
  <tr>
    <%= @post.user.email%>
    <br>
    <br>
    <%= @post.body %>
    <br>
    <br>
    <td><%= link_to 'Edit', edit_post_path(@post) %></td>
    <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <br>
  <br>
</tbody>
<%= link_to "back", root_path%>
